body{
    background-color: #2B2C27;
}

#container{
    display : flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #eae0c2;
    border: black thin solid;
    margin: 10vh;
    border-top-left-radius: 100px;
}

#titreApp{
    padding : 5vh;
    margin-bottom: 2.5vh;
    font-size: 8vh;
    text-decoration: underline;
}

#addButton {
	background-color:#2B2C27;
	border-radius:15px;
	cursor:pointer;
	color:#eae0c2;
    font-size:2vh;
    height : 6vh;
    width : 15vh;
    margin-left: 1vh;
}

#addButton:hover {
	background-color:rgb(79, 80, 76);
}

#addInput{
    height: 6vh;
    width: 50vh;
}

.picture{
    cursor: pointer;
    width: 4vw;
}

.taskItem{
    margin: 2vh;
    font-size: 3vh;
    align-self: flex-start;
    width : 25vw;
}

.containerTask{
    display : flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.borderTask{
    border : solid black thin;
    padding : 2vh;
    margin : 2vh;
}

.addPart{
    width: 33vw;
    display : flex;
    flex-flow: row wrap;
    justify-content: space-between;
}